{% load static %}
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>Hello! I'm <b>Kevin Rosales</b> and I'm a <b>Developer & Data Analyst</b>. I'm passionate about data analysis, 
                and I enjoy creating innovative solutions for complex challenges. With 2 years of experience as a Developer, 
                I've had the opportunity to work on exciting and challenging projects that have helped me grow and improve in my work. 
                In this portfolio, you'll find some of my most outstanding projects, as well as information about my experience, skills, 
                and achievements. I hope you enjoy browsing my portfolio and getting to know me better.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{% static 'img/profile-image.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Developer &amp; Data Analyst.</h3>
                <p class="fst-italic">
                    My first contact with programming was when I interacted with an Arduino to turn on an LED light. 
                    This sparked a lot of ideas in my mind as I realized the endless possibilities for creating something new. 
                    What I find most appealing about programming and software development is that I can automate processes and 
                    solve problems. As a lazy person, I'm always looking for ways to make things easier and quicker, which is 
                    why I enjoy learning new technologies. I also enjoy thinking about how to solve or innovate things. 
                    What motivates me the most in my work as a developer is the potential to save time for others by 
                    developing systems or tools that can make their lives easier.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>5 Dec 1998</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>www.kevinarm.me</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+52 656 817 3294</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ciudad Juarez, Chihuahua, Mexico</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Student</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>kevin.rosales98@hotmail.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Working At:</strong> <span>Madata - Novamex</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>

                </p>
            </div>
        </div>

    </div>
</section>

