{% load static %}
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Kevin Rosales</h4>
          <p><em>Hello, I'm Kevin and I'm a Data Analyst at Expeditors. I really enjoy implementing new solutions and developing
            systems that can be useful to different areas of my company. One of the best parts of my job is I’m always
            thinking about how I can use the current data to process it and see the story it can tell me. I’m very
            passionate about the world of data science and I’m searching for a company where I can implement these kinds of
            skills.</em>
          </p>
          <ul>
            <li>Ciudad Juarez, Chihuahua, Mexico</li>
            <li>(656) 817-3294</li>
            <li>kevin.rosales98@hotmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Computer Systems Engenier</h4>
          <h5>2018 - Today</h5>
          <p><em>Universidad Autonoma de Ciudad Juarez - UACJ</em></p>
          <p></p>
        </div>
        <div class="resume-item">
          <h4>Electronic Technician  </h4>
          <h5>2010 - 2014</h5>
          <p><em>Centro Bachillerato Tecnologico Industrial y de Servicios. - CBTIS 128</em></p>
          <p></p>
        </div>
        <div class="resume-item">
          <h4>LinkedIn Learning Student</h4>
          <h5>2022 - Today</h5>
          <p><em>LinkedIn Learning</em></p>
          <p></p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Developer 1</h4>
          <h5>2023 - Present</h5>
          <p><em>Madata - Novamex, Ciudad Juarez, Chihuahua, Mexico.</em></p>
          <ul>
            <li>Data Collection</li>
            <li>Support Applications</li>
            <li>Data Analyst</li>
            <li>BackEnd Developer</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Developer &amp; Data Analyst</h4>
          <h5>2022 - 2023</h5>
          <p><em>Expeditors International S.A de C.V, Ciudad Juarez, Chihuahua, Mexico.</em></p>
          <ul>
            <li>Data Collection</li>
            <li>Model, develeopment and implementation of solutions.</li>
            <li>Data Analyst</li>
            <li>Reporting, Power Bi, Style Studio</li>
            <li>ETL</li>
            <li>Data Extraction</li>
            <li>Selenium Automation</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>